* {
  box-sizing: border-box;
}

nav {
  background-color: #aaa;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2% 0;
}

nav div {
  display: inline-block;
  padding: 0 2%;
}

.form-section {
  margin-bottom: 10px;
}

header h1 {
  padding-top: 10%;
  text-align: center;
}

form {
  padding: 10%;
  background-color: #bbb;
  left: 0;
  right: 0;
}

input {
  width: 100%;
  max-width: 500px;
}

select {
  width: 75%;
  max-width: 350px;
}

button {
  background-color: white;
  border: solid white;
  border-radius: 3px;
}

.quote-expanded {
  background-color: #ddd;
}

.quote-expanded h4 {
  font-style: italic;
}

.firstQuote {
  background-color: #bbb;
  padding: 5%;
  margin-bottom: 4px;

}

.secondQuote {
  padding: 5%;
  background-color: #ddd;
  margin-bottom: 4px;
}