* {
  box-sizing: border-box;
}

nav {
  background-color: #aaa;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2% 0;
}

nav div {
  display: inline-block;
  padding: 0 2%;
}

body header h1 {
  text-align: center;
  padding: 5%;
}